<!doctype html>
<html lang="en">
<head>
    {% block head %} 
    <meta charset="utf-8">
    <meta name="keyword" content="html,">
    <meta name="Author" content="Bunmi">
    <meta name="description" content="Dynamic web development">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {% block title %} {% endblock title %}
    {% endblock head %}
</head>

<body>
    
    {% block content %} 
        <h1></h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/inventory_form">Inventory Forms</a></li>
        </nav>
    {% endblock content %}
    
    
    {% block footer %} 
        <div class="footer">
        &copy; copyright 2023 by <a> - Inventory system management
        </div>    
    {% endblock footer %}


   

</body>

</html>
