<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="html,">
    <meta name="Author" content="Bunmi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %}My App{% endblock %}</title>
    
</head>
<body>
    <div id="container">
        <div>
        {% block content %}{% endblock %}
        <h1></h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/inventory_form">Inventory Forms</a></li>
        </nav>
        </div>
        <div class="footer">
        {% block footer %}{% endblock footer %} 
        
        &copy; my_app copyright 2023 by Bunmi <a> - Inventory system management
        </div>    
    
        
    </div>
    
</body>
</html>